
body {
    background-color: #031b27;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3.7rem;
    text-align: right;
    color: #e73c7e;
    box-sizing: border-box;
  }
  header {
      margin: 50px;
      width: 100%;
      height: 100vh;
  }
  /* Css - Texto con Degradado */
  .fluido {
    animation: fluido 5s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  
  @keyframes fluido {
      0% { background-position: 0 50% }
      50% { background-position: 100% 50% }
      100% { background-position: 0 50% }
  }